body
{

	
}

video {
    transform: rotateY(180deg); 
	
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 0% !important;
}

#peerVideo:hover {

    cursor: pointer;
}

#peerVideo {
	
	max-width: 500%;
	width: 70%;
	height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.embed-responsive
{
	position: absolute;
	top: 20%;
    left: 15%;
}

.wrapDiv
{
	position: position: absolute;
	top: 50%;
    left: 50%;
}
