body
{
	background-color: fff; 
	background-size: 1920px 1080px;
	
}

.button
{
	background-color: ffd503; 
	position: absolute;
	color : black;
	font-size: 1.5vw;
	width: 13%;
    height: 8%;
}

#nazadButton
{
	position: absolute;
	left: 1%;
	top: 1%;
}